body {
  margin:4em;
}

#title {
  font-size:200%;
  width:5em;
  margin-bottom:20px;
  border-color:#0099ff;
  border-width:0 0 5px 0;
  border-style:solid;
}

#welcome {
  width: 500px;
}

#welcome_logged {
  margin-bottom:1em;
}

#explain {
  margin-top:10px;
  margin-bottom:20px;
}

#albums_count {
  margin-bottom:20px;
}

A:link, A:visited {
  color:#0099ff;
}

#start {
  width:400px;
}

#footer {
  margin-top:3em;
}


.mb {
  font-size:70%;
  color:#5f5f5f;
  padding-left:1px;
}

.private {
  font-size:70%;
  color:#c00;
}

tr th {
  font-size:100%;
  font-weight:normal;
  color:#5f5f5f;
  padding-bottom:1em;
}

.albumcardrow > td {
  border-style:solid;
  border-width:2px 0 2px 0;
  border-color:black;
}

.new_feature {
  color:red;
  margin-top:1em;
}

.new_highlight {
  color:white;
  background-color:red;
}

.albumname {
  text-decoration:underline;
}
