<div>
   <table>
      <tr>
      {% for photo in photos_list %}
         <td>{{photo.size_kb}}<span class=mb>KB</span></td>
      {% endfor %}
      </tr>

      <tr>
      {% for photo in photos_list %}
        <td>
	  <img src="{{photo.thumbnail_url}}">
	</td>
      {% endfor %}
      </tr>
   </table>
</div>
