<html>
  <title>PicasaHelpr - organize your Picasa space</title>
  <head>
    <link href="css/site.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-243631-3']);
      _gaq.push(['_trackPageview']);
      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="https://www.google.com/jsapi?key=ABQIAAAAoisvziXQq11VeaUHsYIqTBQX5_H5qP4OsRRcQzoPbIZJlq4wmxQt7bWka9MSSNUdxF5Ybc3i_07XYw" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </head>
  <body>
    {% if nickname %}
      {%include "logged_in.html" %}
    {% else %}
      {%include "logged_out.html" %}
    {% endif %}
  </body>
</html>
