<div id="welcome_logged">
  Welcome {{ nickname }}. (<a href="{{signout_url}}">Sign out</a>,
  <a href="https://www.google.com/accounts/b/0/IssuedAuthSubTokens" target="_blank">Revoke access</a>)

  <div class=new_feature><span class="new_highlight">&nbsp;New&nbsp;</span> Click on an album's name and see the biggest photos in it.</div>
</div>

{% if grant_access_url %}

  <a href="{{ grant_access_url }}">Grant</a> access to Picasa.
  You can revoke access at any time by accessing Google's
  "Authorized access to your Google account"
  <a href="http://www.google.com/accounts/b/0/IssuedAuthSubTokens" target="_blank">page</a>.

{% else %}

  <div id="albums_count">
    You have {{ len_albums }} albums in your Picasa <a
    href="http://picasaweb.google.com/{{ nickname }}">account</a>.
    <br/>
    You're using {{quotacurrent}}<span class="mb">MB</span> out of
    {{quotalimit}}<span class="mb">MB</span> you have available
    ({{quotapercent}}%).
  </div> 

  <div id=albumcard></div>

  <table>
   <thead>
    <tr>
      <th>Size</th>
      <th>Avg size</th>
      <th># Photos</th>
      <th>Name</th>
    </tr>
    </thead>
    {% for album in albums %}
      <tr>
        <td> {{ album.size_mb }}<span class="mb">MB</span> </td>
        <td> &middot; {{ album.avg_photo_size }}<span class="mb">KB</span> </td>
	<td> &middot; {{ album.numphotos }} </span>
        <td> &middot;
	  <span
	    class="albumname"
	    photos_uri="{{ album.photos_uri }}"
	    album_index="{{ album.album_index }}">{{ album.name }}</span>
          {% if album.isprivate %}
          <span class=private>
	    private
          </span>
          {% endif %}
        </td>
     </tr>
     <tr class=albumcardrow id="albumcardrow-{{album.album_index}}">
       <td colspan=4 id="cardelement-{{ album.album_index }}">
          Loading...
       </td>
     </tr>
    {% endfor %}
  </table>

{% endif %}
