    <div id="start">
      <div id=title>PicasaHelpr</div>
      <div id="welcome">
        You can you PicasaHelpr to:
        <ul>
          <li>
	    See how much of your Picasa quota you're using!
	  </li>
	  <li>
	    See how much space each of your albums take!
	  </li>
	  <li>
            <span class=new_feature><span class="new_highlight">&nbsp;New&nbsp;</span> See the biggest photos in an album.</span>
          </li>
	</ul>
	<div id="explain">
	  PicasaHelpr will get data from Google's Picasa API and show you the amount of storage each of your albums take. If you're reaching your Picasa quota, you can use that information to see which albums take the most space and then you can delete them to free space.
	</div>

      </div>

      To start, please <a href="{{ signin_url }}">Sign in</a> with your Google account.
        <div id="footer">
          <a href="/about">about</a>&nbsp;
          <a href="http://www.twitter.com/picasahelpr">twitter</a>
        </div>
    </div>
